* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

.pro-div {
  margin-top: 20px;
}

.pro-head {
  font-size: 25px;
  text-align: center;
}